body {
  background-color: #eeeeee;
}

div.dt-buttons {
  margin-top: 15px !important;
}

.table.dataTable {
  border-collapse: collapse !important;
}

.modal {
  width: 60%;
}

.raton {
  display: block;
  margin: 0px auto;
  margin-bottom: 7px;
  width: 100%;
  font-weight: 800;
}

.raes {
  font-weight: 800;
}

.login {
  max-width: 360px;
  margin: 0 auto;
}

.imger {
  width: 200px !important;
  display: block;
  margin: 0px auto;
  padding: 20px;
}

.imge {
  width: 200px;
  display: block;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rel {
  padding: 10px;
  /* border: 2px solid; */
  border-radius: 50%;
  font-size: 40px;
  background: #2979ff;
  position: fixed;
  top: 13px;
  color: white;
  left: 21px;
}

.tre {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

#tra {
  display: block;
  margin: 0px auto;
  width: 260px;
  margin-top: 40px;
}

td,
th {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.dataTables_processing {
  position: absolute!important;
  top: 50%!important;
  right: 0!important;
  bottom: 0!important;
  left: 50%!important;
  margin: -15px 0 -15px!important;
  z-index: 5!important;
  height: 70px!important;
  width: 70px!important;
  border: 8px solid #000!important;
  border-right-color: transparent!important;
  border-radius: 100%!important;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid #000!important;
  border-right-color: transparent!important;
  border-radius: 100%!important;
  z-index: 5!important;
  position: absolute;
  right: 1%;
  top: 9px;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.box-table {
  background: white;
  display: block;
  margin: 50px auto;
  padding: 30px;
  overflow: auto;
  width: 98%;
}

body {
  background-color: #eeeeee;
}

.table.dataTable {
  border-collapse: collapse !important;
}

.raes {
  margin-bottom: 10px;
  width: 150px;
  padding-left: 2px;
  padding-right: 2px;
}

.rase {
  width: 180px;
}

.raesa {
  margin-bottom: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 10px;
}

.boximg {
  display: block;
  margin: 0px auto;
}

td,
th {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.collection {
  overflow: visible;
}

.modal {
  z-index: 2005 !important;
}

.swal2-container {
  z-index: 3005 !important;
}

.dt-buttons {
  margin-bottom: 20px;
}

.action_button {
  text-transform: capitalize;
  font-weight: 600;
}